header
  h1
    a(href="/")= pkg.name

  if req.isAuthenticated()
    div Merhaba #{ req.user.name } 
    a(href="/admin/logout") cikis yap
  else
    a(href="/admin/login") giris yap

  div 
    a(href="/users") Admin list
    span | &nbsp; &nbsp;
    a(href="/users/create") New admin
