extends ../layouts/default

block content
	a.logo(href='http://www.karbonat.com', title='Karbonat', target='_blank')
	.search
		input(type='text', placeholder='#Hashtag')
		input(type='button', value='Get Vines')

		.admin-links
			if req.isAuthenticated()
				div Merhaba #{ req.user.name } 
				a(href="/admin/logout") cikis yap
				span &nbsp; &nbsp; | &nbsp; &nbsp;
				a(href="/users") Admin listesi
				span &nbsp; &nbsp; | &nbsp; &nbsp;
				a(href="/admin/create") Yeni Admin Ekle
			else
				a(href="/admin/login") giris yap

	.modal
		.content
			a.previous(href='#', title='Previous Vine')
			.video
			.info
				span.title
				span.time
				span.description
				.share
					input.approve(type='button', value='Approve')
			a.next.wide(href='#', title='Next Vine')
		.background
	.wrapper
		.header
