extends ../layouts/default

block content
  form(action="/bolmalzemos/admin/login", method="post")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    input#email(type="email", placeholder="Email", name="email")
    input#password(type="password", placeholder="Password", name="password")
    button(type="submit") login
