doctype html
html
  head
    title Vine Fetcher
    meta(charset='UTF-8')
    meta(property='og:image', content='http://#{ req.headers.host }/images/karbonat-report.jpg')
    meta(property='og:title', content='Bol Malzemos | Karbonat')
    meta(property='og:description', content='Karbonat&#39;tan Domino&#39;s&#39;a özel yarışma: #BolMalzemos&#39;un tüm malzemelerini say, Vine&#39;a yükle, Bol Malzemos kazan!')
    meta(property='og:url', content='#{ req.headers.host }')
    meta(property='og:site_name', content='Vine Fetcher')
    meta(property='og:type', content='page')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')
    script(src='/bolmalzemos/js/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='/bolmalzemos/js/moment.min.js', type='text/javascript', charset='utf-8')
    script(src='/bolmalzemos/js/scripts.js', type='text/javascript', charset='utf-8')
  body
    include ../includes/fb
    include ../includes/messages
    block content
    include ../includes/footer
    include ../includes/foot
